.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.statistics {
  
  padding: 10px;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.tip {
  background: #f4f4f4;
  margin: 10px;
  padding: 10px 20px;    
}
.tipList{
  display: flexbox;
  justify-content: space-between
}
.right-side{

  justify-content: flex-end;
  
  display: flex;
}

.left-side{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  white-space: nowrap
} 


.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
width: 100%;
height: 40px;
margin: 5px;
padding: 3px 7px;
font-size: 17px;
}

.form-control radio{
display: inline;
}

.table-view{

justify-content: space-evenly;
margin: auto;
}

.table-part{
justify-content: space-evenly;
padding: 10px;
padding-left: 50px;
padding-right: 50px;
text-align: center;

}



.editor{
margin-top: 20px
}

.dropbtn {
background-color: steelblue;
color: white;
padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
font-size: 15px;
border: none;
cursor: pointer;
border-radius: 5px;

}

.span{
display: inline-block
}

.stats{
color: black;

}

.statNums{
margin: auto;
display: flex;
justify-content: space-between;

}

.numStat{
border: 1px solid black;
padding: 7px;
border-radius: 5px; 
background-color: lightblue;
}

